body {
    min-height: 100vh;
}

.ui.header {
    padding: 8px;
    padding-left: 10.5px;
    color: white;
}

.ui.header>.image,
.ui.header>img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.ui.header>.image+.content,
.ui.header>img+.content {
    padding-left: 5px;
}